---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import MatchCard from "../components/MatchCard.astro";

const teamName = "Erie Chaos";

const weeks = [
  {
    date: "2024-09-07",
    matches: [
      {
        time: "12:00pm",
        homeTeam: teamName,
        awayTeam: "Team Munoz",
        homeScore: 6,
        awayScore: 1,
      },
    ],
  },
  {
    date: "2024-09-14",
    matches: [
      {
        time: "12:00pm",
        homeTeam: teamName,
        awayTeam: "Team Goldstone",
        homeScore: 0,
        awayScore: 5,
      }
    ],
  },
  {
    date: "2024-09-21",
    matches: [
      {
        time: "09:00am",
        homeTeam: "Team PRA",
        awayTeam: teamName,
        homeScore: 2,
        awayScore: 1,
      },
    ],
  },
  {
    date: "2024-09-28",
    matches: [
      {
        time: "10:00am",
        homeTeam: "Team Mockler",
        awayTeam: teamName,
        homeScore: 0,
        awayScore: 6,
      },
    ],
  },
  {
    date: "2024-10-05",
    matches: [
      {
        time: "10:00am",
        homeTeam: "Team Yannett",
        awayTeam: teamName,
        homeScore: 0,
        awayScore: 0,
      },
    ],
  },
  {
    date: "2024-10-12",
    matches: [
      {
        time: "12:00pm",
        homeTeam: teamName,
        awayTeam: "Team Gradl",
        homeScore: 0,
        awayScore: 0,
      },
    ],
  },
];
---

<Layout title="Erie Chaos SC Matches">
  <Nav />
  <main>
    <Hero title="Matches" />
    <section>
      <ul class="match-card-list">
        {weeks.map((week) => <MatchCard {...week} />)}
      </ul>
    </section>
  </main>
</Layout>

<style>
  .match-card-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5rem;
    margin-bottom: 5rem;
  }
</style>
